{{! about section start }}
<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow your business with us</p>
      <div class="row">
        {{! leftside }}
        <div class="col-md-6 col-12 hero-text">
        <figure>
          <img class="firstimg" src="images\about.jpg" alt="growth" />
        </figure>
        </div>
        {{! rightside }}
        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
          <h1>We Are The Professional Developer</h1>
          <p>
            Welcome To
            <span class="bold-style">Growth,</span>
            Your Number One Source For All Things. We Are Dedicated To You With
            The Very Best Of Work , With The Focus On [Three Charactristics ,
            Ie:Dependancy Of Customer Service And Uniqueness].
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{! about section ends }}